@media screen and (max-width:1300px) {
    
}
@media screen and (max-width:1200px) {
    
}
@media screen and (max-width:1100px) {
    
}
@media screen and (max-width:1000px) {
    .hamburger{
        display: flex;
    }
    .close{
        display: flex;
        align-self: flex-end;
        margin-right: 4rem;
    }
    nav ul{
        padding-top: 5rem;
        z-index: 5;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        top: -100%;
        left: 0;
        transition: all .5s ease;
    }
    .nav ul{
        justify-content: flex-start;
    }
    nav.active-bar ul{
        top: 0;
    }
    .nav ul li {
        margin: 2rem 0;
    }
    .nav ul li a {
        font-size: 1.9rem;
    }
    .call-now{
        display: none;
    }
    .call-now-2{
        display: inherit;
    }
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}
@media screen and (max-width:00px) {
    
}